<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header class="header-main">
        <nav class=" header-nav">
            <ul class="header-ul">
                <li class="header-list"><a  href="">Shop</a> </li>
                <li class="header-list"><a href=""> Add-Product</a></li>
                <li class="header-list"><a class="active" href="">Contact US</a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/success" method="POST" class="form-list">
            <label for="title">Nmae :</label>
            <input type="text" name="name" class="name"><br>
            <label for="title">E-mail:</label>
            <input type="email" name="email" class="email">
            <button type="submit" class="submit">Submit form</button>
        </form>
    </main>
</body>
</html>